@import 'bootstrap';
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
// @import "bootstrap/root";
@import "bootstrap/reboot";
// @import "bootstrap/type";
// @import "bootstrap/images";
// @import "bootstrap/code";
// @import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
// @import "bootstrap/buttons";
// @import "bootstrap/transitions";
// @import "bootstrap/dropdown";
// @import "bootstrap/button-group";
// @import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Reseteo de Borde de Input Seleccionado Bootstrap
.exampleModal{
    padding-left: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
    outline: none !important;
}

.agregar{
    background-color: $prime-color;
    border: 0;
    &:hover{
        background-color: $prime-color-hover;
    }
}


.agregar, .cancelar{
    margin-top: 1em;
}

.cancelar{
    margin-left: 0.1em;
    text-decoration: none;

}