.formSection{
    width: 100%;
}

.formSection__form{
    width: 100%;
    &__section{
        width: 100%;
        // background: tomato;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;

        &--laboral{
            margin-top: 1em;
        }

        &__group{
            display: flex;
            flex-wrap: wrap;
            
            &--datos{
                width: 100%;
                // background: green;
                margin-bottom: 1em;
            }
    
            &__labelContainer{
                width: 100%;
                &--datos{
                    display: flex;
                    flex-wrap: nowrap;
                }
            }
            
            &__inputContainer{
                &--datos{
                    width: 100%;
                    // background: red;
                    display: flex;
                    justify-content: space-between;
                    input{
                        // flex: 1 1 auto;
                        // background: blue;
                        width: 22em;
                    }

                }
            }

    
        }
    }

}