.wrap{
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    // background: url('partials/themes/default/assets/images/flags.png');
    // background: url('themes/default/assets/images/flags.png');
}