.form-group
    label.form-group__label() Clave
    input.form-group__input(name="clave" type="text" class="form-control" placeholder="A0S4" )
.form-group
    label.form-group__label() Nombre
    input.form-group__input(name="nombre" type="text" class="form-control" placeholder="Finanzas" )
.form-grup
    label.form-group__label() Empresa
    select.form-grup__input(name="empresa" class="custom-select" id="lala")
        option Huawei
        option Xiaomi