<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .wrapper
            header.head
                a(href="/empleadoIndex.html").head__logoContainer
                    .head__logoContainer__logo
                        <i class="bolt icon"></i>
                    h1.head__logoContainer__title GEMINI
                .head__menu
                    .head__menu__logoutContainer
                        a(href="#" class="ui red button") Cerrar Sesion
            main.main
                block contenido