<div class="form-group form-group--datos">
    label.form-group__label() Datos
    .form-group__inputContainer
        input.form-group__inputContainer__input(type="text" class="form-control" placeholder="Nombre/s" )
        input.form-group__inputContainer__input(type="text" class="form-control" placeholder="A. Paterno" )
        input.form-group__inputContainer__input(type="text" class="form-control" placeholder="A. Materno" )
</div>

<div class="form-group">
    label Edad
    input.input(value="55" type="number" class="form-control" name="" min="18" max="90")    
</div>

<div class="form-group">
    label Sexo
    select.input(name="" class="custom-select" id="lala")
        option Masculino
        option Femenino
</div>

<div class="form-group">
    label Email
    input.input(type="email" class="form-control" id="exampleInputPassword1" placeholder="")
</div>

<div class="form-group">
    label Cargo
    select.input(name="" class="custom-select")
        option Masculino
        option Femenino                    
        option Masculino
        option Femenino
</div>

<div class="form-group">
    label Jornada
    select.input(name="" class="custom-select")
        option Diurna
        option Nocturna                    
        option Mixta
</div>

<div class="form-group">
    label Escolaridad
    select.input(name="" class="custom-select")
        option Primaria
        option Secundaria                    
        option Preparatoria                       
        option Técnica                       
        option Universidad                       
        option Especialización                       
        option Doctorado                       
        option Maestría 
</div>

<div class="form-group">
    label Departamento
    select.input(name="" class="custom-select")
        option Primaria
        option Secundaria                    
        option Preparatoria

</div>