extends partials/editarLayout.pug
block content
    +puma('/empleados.html','Editar Empleado')
        block crudContainer__body
            block formContent
                include partials/empleadosForm.pug