extends partials/editarLayout.pug
block content
    +puma('/departamentos.html','Editar Departamento')
        block crudContainer__body
            block formContent
                include partials/departamentosForm.pug