extends partials/editarLayout.pug
block content
    +puma('/empresas.html','Editar Empresa')
        block crudContainer__body
            block formContent
                include partials/empresasForm.pug