extends partials/crudLayout.pug
block content
    +puma('Gestion de Empleados', 'Agregar Empleado', '/editarEmpleados.html')
        block crudContainer__body

            block table__thead__row__columns
                <th class="table__thead__row__col" scope="col">#ID</th>
                <th class="table__thead__row__col" scope="col">Nombre</th>
                <th class="table__thead__row__col" scope="col">A. Paterno</th>
                <th class="table__thead__row__col" scope="col">A. Materno</th>
                <th class="table__thead__row__col" scope="col">Cargo</th>
                <th class="table__thead__row__col" scope="col">Jornada</th>
                <th class="table__thead__row__col" scope="col">Departamento</th>
                <th class="table__thead__row__col" scope="col">Editar</th>

            block table__tbody__row__columns
                <th class="table__tbody__row__col" scope="row">1</th>
                <td class="table__tbody__row__col">Jason Othoniel</td>
                <td class="table__tbody__row__col">Torres</td>
                <td class="table__tbody__row__col">Luis</td>
                <td class="table__tbody__row__col">Administrador</td>
                <td class="table__tbody__row__col">Diurna</td>
                <td class="table__tbody__row__col">Departamento</td>

            block formContent
                include partials/empleadosForm.pug

            
            block table__tbody__row__columns--extra
                a.table__tbody__row__col__a.table__tbody__row__col--mas__a.table__tbody__row__col--mas__a--info(href="verEmpleados.html")
                    <i class="fas fa-info-circle"></i>