extends partials/crudLayout.pug
block content
    +puma('Gestion de Empleados', 'Agregar Empleado', 'lalo')
        block crudContainer__body

            block table__thead__row__columns
                <th class="table__thead__row__col" scope="col">#ID</th>
                <th class="table__thead__row__col" scope="col">Nombre</th>
                <th class="table__thead__row__col" scope="col">A. Paterno</th>
                <th class="table__thead__row__col" scope="col">A. Materno</th>
                <th class="table__thead__row__col" scope="col">Cargo</th>
                <th class="table__thead__row__col" scope="col">Jornada</th>
                <th class="table__thead__row__col" scope="col">Departamento</th>
                <th class="table__thead__row__col" scope="col">Editar</th>

            block table__tbody__row__columns
                <th class="table__tbody__row__col" scope="row">1</th>
                <td class="table__tbody__row__col">Jason Othoniel</td>
                <td class="table__tbody__row__col">Torres</td>
                <td class="table__tbody__row__col">Luis</td>
                <td class="table__tbody__row__col">Administrador</td>
                <td class="table__tbody__row__col">Diurna</td>
                <td class="table__tbody__row__col">Departamento</td>

            block formContent
                include partials/empleadosForm.pug

    block extra
        script.
            //- $(document).ready(function () {$('#exampleModal').modal('show');});
            //- $(function() {$('#exampleModal').modal({show: true,keyboard: false,backdrop: 'static'});});
            let calabazirijilla= document.getElementById('calabaza');
            calabazirijilla.addEventListener('click', function(){
                $(function() {$('#exampleModal').modal({show: true,keyboard: false,backdrop: 'static'});});
                console.log('Hola');
            });
            //- $('#exampleModal').modal({backdrop: 'static', keyboard: false})  